**.cache
**.runs
**.hw/hw_**
**.hw/**.lpr
**.sim
**.ip_user_files
*.lpr
*.log
*.jou
*.str
*.wcfg
*.xpr
*.dmp
*.xml
*.rtd
*.rpt
lab3/.Xil/Vivado-18252-laptop-unu/realtime/vga_example.tcl
lab3/.Xil/Vivado-18252-laptop-unu/realtime/vga_example.tcl
